# created for Issue #176 based on 
# https://packaging.python.org/tutorials/distributing-packages/#manifest-in

# specifically include only these files:

include LICENSE
include README.md
include __init__.py
include bank2ynab.py
include bank2ynab.conf
include bank2ynab.bat
include plugins/handelsbanken.py

# specifically exclude these files:

recursive-exclude .git/
recursive-exclude docs/
recursive-exclude test*/
