# created for Issue #176 based on 
# https://packaging.python.org/tutorials/distributing-packages/#manifest-in

# specifically include only these files:

include bank2ynab.py
include bank2ynab.conf
include bank2ynab.bat
include __init__.py
include README.md
include LICENSE
include plugins/handelsbanken.py
